@font-face {
  font-family: 'youyuan';
  src:url('../youyuan.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yejing';
  src:url('../yejing.ttf');
  font-weight: normal;
  font-style: normal;
}
